/* From Uiverse.io by Sergestra */
.fwButtonContainer {
  width: 98px;
  height: 45px;
  overflow: hidden;
  border: 1px solid var(--background_color);
}

.fwButtonContainer,
.fwButtonContainerDiv {
  transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);
}
.fwButtonContainerSpan {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 45px;
}

.fwButtonContainerDiv1 {
  background-color: transparent;
  color: var(--background_color);
}

.fwButtonContainerDiv2 {
  background-color: var(--background_color);
  color: var(--body_color);
}

.fwButtonContainer:hover .fwButtonContainerDiv {
  transform: translateY(-45px);
}

.fwButtonContainerP {
  font-size: 14px;
  font-weight: bold;
}

.fwButtonContainer:active {
  transform: scale(0.95);
}
